// resources/assets/sass/home.scss


.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #eee;

  h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 4.5em;
    font-weight: 700;
  }
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Site Header */
.site-header {
  background: url(../img/lock_2.jpg) no-repeat center center scroll;
  background-size: cover;
}

/* Callout */
.callout {
  display: table;
  width: 100%;
  height: 400px;
  background: url(../img/keyboard.jpg) no-repeat center center scroll;
  background-size: cover;
  h1 {
    color: #f3f1eb;
    padding: 20px 0;
    background-color: rgba(0,0,0,0.3);
  }
}

/* ----------- Phones ----------- */
@media
  (max-device-width: 800px) {
    .site-header {
      background: url(../img/lock_2_800.jpg) no-repeat center center scroll;
      background-size: cover;
    }

    .callout {
      background: url(../img/keyboard_800.jpg) no-repeat center center scroll;
      background-size: cover;
    }
  }

/* ----------- Tablets ----------- */
/* Portrait and Landscape */
@media
  (min-device-width: 800px)
  and (max-device-width: 1280px) {
    .site-header {
      background: url(../img/lock_2_1280.jpg) no-repeat center center scroll;
      background-size: cover;
    }

    .callout {
      background: url(../img/keyboard_1280.jpg) no-repeat center center scroll;
      background-size: cover;
    }
  }

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .site-header {
      background: url(../img/lock_2_1600.jpg) no-repeat center center scroll;
      background-size: cover;
    }

    .callout {
      background: url(../img/keyboard_1600.jpg) no-repeat center center scroll;
      background-size: cover;
    }
  }

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .site-header {
      background: url(../img/lock_2.jpg) no-repeat center center scroll;
      background-size: cover;
    }

    .callout {
      background: url(../img/keyboard.jpg) no-repeat center center scroll;
      background-size: cover;
    }
  }

/* ----------- Larger Screens ----------- */
@media screen
  and (min-device-width: 1600px) {
    .site-header {
      background: url(../img/lock_2.jpg) no-repeat center center scroll;
      background-size: cover;
    }

    .callout {
      background: url(../img/keyboard.jpg) no-repeat center center scroll;
      background-size: cover;
    }
  }

/* About */
.about {
  padding: 50px 0;
}

/* Services */
.services {
  padding: 50px 0;
}

.service-item {
  margin-bottom: 30px;
}


/* Portfolio */
.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 30px;
}

.img-portfolio {
  margin: 0 auto;
  &:hover {
    opacity: 0.8;
  }
}


/* Call to Action */
.call-to-action {
  padding: 50px 0;

  .btn {
    margin: 10px;
  }
}
