// resources/assets/sass/home.scss


.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #eee;

  h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 4.5em;
    font-weight: 700;
  }
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Header */
.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}

.site-header {
  background: url(../img/lock_2.jpg) no-repeat center center scroll;
  background-size: cover;
}

/* About */
.about {
  padding: 50px 0;
}

/* Services */
.services {
  padding: 50px 0;
}

.service-item {
  margin-bottom: 30px;
}

/* Callout */
.callout {
  display: table;
  width: 100%;
  height: 400px;
  background: url(../img/keyboard.jpg) no-repeat center center scroll;
  background-size: cover;
  h1 {
    color: #f3f1eb;
    padding: 20px 0;
    background-color: rgba(0,0,0,0.3);
  }
}

/* Portfolio */
.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 30px;
}

.img-portfolio {
  margin: 0 auto;
  &:hover {
    opacity: 0.8;
  }
}


/* Call to Action */
.call-to-action {
  padding: 50px 0;

  .btn {
    margin: 10px;
  }
}
